/* Custom CSS for slides written in Markdown with Marp

- Ref: https://github.com/yhatt/marp/#customizing-slide-css
- Marp: https://github.com/yhatt/marp
- Author: Lilian Besson (Naereen) https://github.com/Naereen/
- License: MIT (https://lbesson.mit-license.org/)
*/

.slide {
    /* Use the Palatino font for text */
    font-family: "Palatino", "Palatino Linotype", "Palatino LT STD", "TeX Gyre Pagella", "Book Antiqua", Georgia, serif;
}

.slide code, .slide pre {
    /* Use the Fira Code font for code */
    font-family: "Fira Code", "DejaVu Sans Mono", "Ubuntu Mono", "DejaVu Sans Mono Book", "Courier New", Courier, monospace;
}

/* Enable all text ligatures in all the slides */
.slide {
    -webkit-font-feature-settings: "liga" on, "hlig" on, "hist" on, "dlig" on, "zero" on, "calt" on, "swsh" on, "kern" on, "locl" on !important;
    -moz-font-feature-settings: "liga" on, "hlig" on, "hist" on, "dlig" on, "zero" on, "calt" on, "swsh" on, "kern" on, "locl" on !important;
    -ms-font-feature-settings: "liga" on, "hlig" on, "hist" on, "dlig" on, "zero" on, "calt" on, "swsh" on, "kern" on, "locl" on !important;
    font-feature-settings: "liga" on, "hlig" on, "hist" on, "dlig" on, "zero" on, "calt" on, "swsh" on, "kern" on, "locl" on !important;
}

/* See https://stackoverflow.com/questions/3912694/using-markdown-how-do-i-center-an-image-and-its-caption */
.slide img[src*="#center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slide img[src*="#right"] {
    display: block;
    margin-left: auto;
    margin-right: 0;
}
.slide img[src*="#left"] {
    display: block;
    margin-left: 0;
    margin-right: auto;
}

/* Justify paragraph? It was ugly in some tables... */
/* .slide_inner p {
    text-align: justify;
    text-align-last: left;
    text-justify: inter-word;
} */

/* Try to align the slide to the top of the page */
.slide_inner {
    position: absolute !important;
    top: 8% !important;
}
    .slide_inner code, .slide_inner pre {
        max-width: 110%;
    }
        .slide_inner li code, .slide_inner li pre {
            max-width: 80%;
        }

/* Increase font-size for footer */
.slide .slide_footer {
    font-size: 22px !important;
}

/* Use my own Hand-Written font for the "thank you" message at the end */

@font-face {
    font-family: "Fontify";
    src: url("../common/Fontify-Regular.ttf")  format("truetype"),
         url("../common/Fontify-Regular.otf")  format("opentype"),
         url("../common/Fontify-Regular.woff") format("woff");
}

.slide .fontify {
    font-family: "Fontify", "Palatino", "Palatino Linotype", "Palatino LT STD", "TeX Gyre Pagella", "Book Antiqua", Georgia, serif;
    font-size: 150%;
    letter-spacing: -0.15em;
    word-spacing: 0.30em;
    text-align: right;
    display: block;
    margin-left: auto;
    margin-right: 0;
}
